h1{
   text-align: center;
   font-size:3vw;


}






form{
  background-color: lightblue;
  border-style: groove;
  border-color: white;
  width:600px;
  height: 550px;
  text-align: center;
  

 }
